<div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-10">
            <div>
              <div class="row">
                  <div class="col-md-3" style="text-align: center;">
                      <p class="text-muted" style="font-size: 20px; font-weight: 800;">Follow us on</p>
                        <div style="padding-right: 50px;">
                          <a href="#" ><img class="social-md-img" src="assets/fb-logo.jpg" alt="facebook"></a>
                          <a href="#" ><img class="social-md-img" src="assets/twtr-logo.jpg" alt="twiter"></a>
                          <a href="#" ><img class="social-md-img" src="assets/lnkd-logo.jpg" alt="linkedIn"></a>
                          <a href="#" ><img class="social-md-img" src="assets/youtube-logo.jpg" alt="youtube"></a>
                    </div>
                  </div>
                  <div class="col-md-9 container" style="text-align: right; font-weight: 500;">
                        <p>Sign Up for <a href="#" style="color: green;">Email Updates</a></p>
                        <p>Let us know how we are doing: <a href="#" style="color: green;">Feedback</a></p>
                  </div>
                  
              </div>
          </div>
      </div>
      <div class="col-md-1">

      </div>
</div>
<div class="footer-main" >
    <div class="contact-style">
        <p>Questions? &nbsp;<i class="fa fa-phone"></i>&nbsp; 703.503.6300  &nbsp; 
          <i class="fa fa-envelope-o"></i>&nbsp;NOVAWorkforceAnswers@nvcc.edu</p>
    </div>
    <div class="links-style">
        <p>
          <a style="color: white;" href="">Home</a>  |  <a style="color: white;" href="">Courses</a>  |  
          <a style="color: white;" href="">Sign In</a>  |  <a style="color: white;" href="">FAQ</a>  |  
          <a style="color: white;" href="">Contact Us</a>  |  
          <a style="color: white;" href="">Search for a Class</a>  |  <a style="color: white;" href="">Featured Classes & Specials</a>  |  
          <a style="color: white;" href="">NOVA Home</a></p>
    </div>    
</div>