<div class="container">
    <nav class="nav navbar-nav fixed-bottom mx-auto bg-dark">
            <!-- Call to action -->
              <ul class="text-center text-white">
                <li class="list-inline-item">
                  <h5 class="">Register for free</h5>
                </li>
                <li class="list-inline-item top">
                  <button type="button" class="btn btn-outline-light" (click)="signup()">Sign up!</button>
                </li>
              </ul>
              <!-- Call to action -->
            <div class="footer-copyright text-center text-muted" style="font-size: smaller;">© 2020 Copyright:
              <a class="text-muted" href="#"> www.coders.com</a>
            </div>
    </nav>
</div>