<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#" style="padding-right: 2%;">WEBSTORE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" style="padding-right: 4%;">
          <li class="nav-item active" >
            <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search"
          type="text" [(ngModel)]="searchQuery"  name="searchQuery" required>
          <input type="button" class="btn btn-primary" name="btn" (click)="saveSearch()" value="Search"/>
        </form>
        <ul class="navbar-nav ml-auto" style="margin-right: 4%;">
          <li class="nav-item active" *ngIf='!dataService.isUserLoggedIn()'>
            <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item" *ngIf='dataService.isUserLoggedIn()' style="margin-right: 15%;">  
            <a class="nav-link" routerLink="/search-items" (click)="logout()">Logout</a>
          </li>
          <li class="nav-item" *ngIf='dataService.isUserLoggedIn()'>
            <sup style="padding-left: 80%; color: rgb(221, 28, 28);">{{cartItems}}</sup><img src="assets\productImages\cart.jpg" style="height: 2rem; width: 2rem;">
          </li>
        </ul >
      </div>
    </nav>
</div>