<div class="col-sm-12">
<div class="container zoom" style="font-family: Indie Flower; padding-left: 1%;">
  <div class="container" style="text-align: justify; padding-top: 5%;  padding-right: 2%;">
  <div class="container ">
   
    <div class="scrollabletextbox" >
      <div class="container"><h3 >Projects</h3>
      <h4>TransDev, Baltimore, MD</h4>
        <h6>Role:  Web Developer</h6>
      <h6>Duration: June 2018 to Present</h6>
      <p>Environment:  Java 8, Spring MVC, Spring Boot, Eclipse, Apache Tomcat, Maven, Junit, Log4j2, UML, 
        JSON, SVN, JPA,  Hibernate ORM, Agile/Scrum, MySql, Angular, CSS, Html, jQuery, Typescript.</p> 
      
            <p>Responsibilities</p>
            <ul>
              <li>
                    Used Spring Framework in the application which is based on MVC design pattern.
              </li>
              <li>
                    Designed and developed Microservice  using Spring Boot Restful API for handling and persisting of requests and Spring MVC for returning response to presentation tier.
              </li>
              <li>
                    Developed Session Beans and DAO classes for all Modules.
              </li>
              <li>
                    Used JPA/ Hibernate for mapping java classes with database  and designed and developed DAO's for accessing the POJO's and updating the DB tables
              </li>
              <li>
                    Used Spring AOP for cross cutting concerns for logging Web service calls 
              </li>
              <li>
                    Developed the front-end using Angular, HTML, CSS3, TypeScript, Bootstrap 4.
              </li>
              <li>
                    Used Postman to perform CRUD operations on API's. Created build and deployment scripts using Maven. 
                    Used Git & SVN as version control system.
              </li>
              <li>
                    Participated in Unit testing, Peer testing and Code review.
              </li>
            </ul>
            <br>
            <h4>Geeks on Budget, Los Angeles, CA</h4>
            <h6>Role:  Java Developer</h6>
            <h6>Duration: July 2016 to May 2018</h6> 
            <p>Environment: Java7/8, JSP, Spring, Hibernate, Spring boot, Spring MVC, Hibernate ORM, 
            Agile/Scrum, MySQL, HTML5, jQuery, Apache Tomcat, Maven, SVN, Log4j2.</p> 
            
            <p>Responsibilities</p>
            <ul>
            <li>
              Involved in Understanding and analyzing the requirements and part of the process of designing the system.
            </li>
            <li>
              Implemented business layer using Core java, Spring Beans using dependency injection, spring annotations.
            </li>
            <li>
              Designed and developed the RESTful APIs using Spring Boot.
            </li>
            <li>
              Used Object/Relational mapping tool Hibernate and JPA to achieve object to database table persistency.
            </li>
            <li>
              Implemented the Project structure based on Spring MVC pattern using spring boot.
            </li>
            <li>
              Developed Spring JDBC to access and manipulate data from the MySql and Oracle databases. 
            </li>
            <li>
              Developed spring AOP programming to configure logging for the application.
            </li>
            <li>
              Implemented all the components following test-driven development methodology using JUnit.
            </li>
            <li>
              Used Spring-JDBC Template for coding DB operations and developed SQL DML and DDL SQL statements.
            </li>
            <li>
              Involved in database design and implementation. 
            </li>
            <li>
              Used MAVEN to define the dependencies / plug-in and build the application.
              Participated in Daily Scrum meeting, Stand-up meeting and weekly assessment meetings.
            </li>
          </ul>
          <br>
          <h4>InfinEth Solutions PLC, Addis Ababa Ethiopia</h4>
          <h6>Role:  Java Developer</h6>
          <h6>Duration:  September 2014 to June 2016</h6> 
          <p>Environment: Java, Spring, Hibernate, WebService(Restful), HTML5, CSS, XML JSP, Servlet, 
            javaScript, jQuery, Ajax, JSON, Junit, SVN, Scrum/Agile, Eclipse, UML, Oracle.</p> 
          
          <p>Responsibilities</p>
          <p>Billing System Integration Software  Used Java to develop application that integrates into a 
            single centralized utility billing system.</p>
          <ul>
          <li>
              Interacted with Business Analyst for requirements gathering.
          </li>
          <li>
              Involved in development of Web Services using spring, hibernate.
          </li>
          <li>
              Coded and Tested business objects using Servlets and JavaBeans.
          </li>
          <li>
              Designed and implemented relational database.
          </li>
          <li>
              Developed utility classes as reusable components.
          </li>
          <li>
              Designed Java classes as per OO Design.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>