
<div class="container zoom" style="font-family: Indie Flower; padding: 10%; margin-top: 8%;">

      
          <div class="container bg-img" style="text-align: justify;">
            <div ><h5>About</h5></div>
              <p>
                  Over 5 years of IT experience in Object Oriented analysis, design and development of web applications. 
                  I have been involved in all phases of Software Development Life Cycle (SDLC) including analysis, design, 
                  development, and testing. 
              </p>
          
    </div>
  </div>