<div class="container">
  <div style="color: rgb(49, 49, 119); font-weight: 100; font-family: Arial Black;">
    <h4>NOVA Workforce Contacts & Locations</h4>
  </div>
 <div> 
   <p>
      <i class="fa fa-phone"></i><a routerLink="#">&nbsp; 703-503-6300&nbsp; </a> &nbsp;
      <i class="fa fa-envelope-o"></i><a routerLink="#">&nbsp; NOVAWorkforceAnswers@nvcc.edu</a>
   </p>
</div>
<div>
  <p style="text-align: justify; font-size: 0.8rem;">
    Out of an abundance of caution regarding Coronavirus (COVID-19) prevention, 
    NOVA has shifted to providing remote Student Services beginning March 18, 2020. 
    NOVA Workforce staff will be available to assist you <u>remotely</u> 
    <b> Monday - Friday from 8:30 - 5:00</b> by phone or email. 
  </p>
</div>
<div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body" >
          <h5 class="card-title" >Alexandria</h5>
          <h6><p class="card-text">Workforce Office</p></h6>              
           <p style="text-align: justify; font-size: 0.8rem;"> Bisdorf Building 
             AA 230 
             5000 Dawes Avenue
            Alexandria, VA 22311</p>
            
            <p style="text-align: justify; font-size: 0.8rem;"><i class="fa fa-phone"></i>&nbsp;<a href="#">703-845-6329</a></p>
            
            <h6 style="text-align: justify; font-size: 0.8rem;">ACLI ESL Testing & Advising</h6>
            <i class="fa fa-phone"></i>&nbsp;<a style="text-align: justify; font-size: 0.8rem;" href="#">703-845-6329</a>
            <p><i class="fa fa-envelope-o"></i>&nbsp;<a style="text-align: justify; font-size: 0.8rem;" href="#">AL-ACLI@nvcc.edu</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Annandale</h5>
          <h6><p class="card-text">NOVA Workforce Office</p></h6>
           <p style="text-align: justify; font-size: 0.8rem;">Ernst Community Cultural Center
            CE 202
            8333 Little River Tnpk
            Annandale, VA 22003</p>
            <p><i class="fa fa-phone"></i>&nbsp;<a style="text-align: justify; font-size: 0.8rem;" href="#">703-323-3168</a></p>  
                       
            <h6 style="text-align: justify; font-size: 0.8rem;">ACLI ESL Testing & Advising</h6>
            <i class="fa fa-phone"></i>&nbsp;<a style="text-align: justify; font-size: 0.8rem;" href="#">703-323-3323</a>
            <p><i class="fa fa-envelope-o"></i>&nbsp;<a style="text-align: justify; font-size: 0.8rem;" href="#">AN-ACLI@nvcc.edu</a></p>
         </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Loudoun</h5>
          <h6><p class="card-text">NOVA Workforce Office</p></h6>
           <p style="text-align: justify; font-size: 0.8rem;">Loudoun, Signal Hill (off-campus) 
            Suite 300
            21335 Signal Hill Plaza
            Sterling, VA 20164</p>
            
            <p><i class="fa fa-phone"></i>&nbsp;<a style="text-align: justify; font-size: 0.8rem;" href="#">703-450-2551</a></p>  
            
            <h6 style="text-align: justify; font-size: 0.8rem;">ACLI ESL Testing & Advising</h6>
            <i class="fa fa-phone"></i>&nbsp;<a style="text-align: justify; font-size: 0.8rem;" href="#">703-450-2597</a>
            <p><i class="fa fa-envelope-o"></i>&nbsp;<a style="text-align: justify; font-size: 0.8rem;" href="#">LO-ACLI@nvcc.edu</a></p>
         </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Woodbridge</h5>
          <h6><p class="card-text">NOVA Workforce Office</p></h6>  
            <p style="text-align: justify; font-size: 0.8rem;">Regional Center for Workforce
            Education & Training (WRC)
            2675 College Drive
            Woodbridge, VA 22191</p>
            
            <p><i class="fa fa-phone"></i>&nbsp;<a style="text-align: justify; font-size: 0.8rem;" href="#">703-878-5770</a></p>  
                      
            <h6 style="text-align: justify; font-size: 0.8rem;">ACLI ESL Testing & Advising</h6>
            <i class="fa fa-phone"></i>&nbsp;<a style="text-align: justify; font-size: 0.8rem;" href="#">703-878-5770</a>
            <p><i class="fa fa-envelope-o"></i>&nbsp;<a style="text-align: justify; font-size: 0.8rem;" href="#">WO-ACLI@nvcc.edu</a></p>

         </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manassas</h5>
          <h6><p class="card-text">ACLI ESL Testing & Advising</p></h6>
           <p style="text-align: justify; font-size: 0.8rem;"> limited testing available on site
            For Manassas classes, placement
            test can be taken at any other
            ACLI location.</p>
            <p><i class="fa fa-phone"></i>&nbsp;<a style="text-align: justify; font-size: 0.8rem;" href="#">703-450-2551</a></p>  
            <p><i class="fa fa-envelope-o"></i>&nbsp;<a style="text-align: justify; font-size: 0.8rem;" href="#">MA-ACLI@nvcc.edu</a></p>

         </div>
      </div>
    </div>
  </div>
</div>
<div class="">
      <iframe src="https://www.google.com/maps/d/embed?mid=1qCZqzJ76dQZ9gNOVffqKnl0rg3dYOcig" 
      style="width: 100%; height: 450px;"></iframe>
</div>
<div>

</div>