<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>User Administration</title>
      <script src="https://code.jquery.com/jquery-1.10.2.js"
	type="text/javascript"></script>
   </head>
   <body>
      <script type="text/javascript">
$(document).ready(function(){
	$('#toshow').hide();
    $('#showTextArea').click(function(){
    	 $('#toshow').show()
      
    });
});
</script>
<br>
<!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>  
      <br>
      <h2>Enter New User's credentials,</h2>
      <br/>
		<form action="#" th:action="@{/admin/userProcessSuccessPage}" th:object="${newUser}" method="post">
    	<p>User Name: <input type="text" th:field="*{username}" /></p>
		<p>Password: <input type="text" th:field="*{encrytedPassword}" /></p>
		<p>Enabled: <input type="text" th:field="*{enabled}" /></p>
		<p>User Role: Select User Role:<select th:field="*{roleOne}">
		    				<option th:value="''" th:text="SELECT-ROLE"></option>
							<option th:value="'USER'" th:text="USER"></option>
    						<option th:value="'ADMIN'" th:text="ADMIN"></option>
						</select></p>
	<br>  N.B. If User has more than one role, Click <input type="button" value="Add Role" id="showTextArea"> here.
		<div id="toshow">
		Select User Role:<select th:field="*{roleTwo}">
				    		<option th:value="''" th:text="SELECT-ROLE"></option>
							<option th:value="'ADMIN'" th:text="ADMIN"></option>
    						<option th:value="'USER'" th:text="USER"></option>
						</select>
</div>
        <p><input type="submit" value="Submit" /> 
    </form>
   </body>
    
</html>