<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
       
      <h3>Admin Page</h3>
      <b>This is protected page!</b>  
      <br>
      <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
       <br>
       <h4>Links: </h4>
		><a href="/admin/addUser"> Add New User</a>
		<br><br>   
		><a href="/admin/SearchUser"> Update/Delete User</a>   


</body>
    
</html>