<div class="container zoom" style="font-family: Indie Flower;">
  <div class="container sub-style" style="padding-top: 10%; padding-left: 5%;"></div>
  <div class="container bg-img" style="text-align: justify; padding: 3%; width: 90%;"><h5>Skills/Experience</h5>
  <ul class="list-group">
    
    <li >
      Experienced in spring frameworks like Spring Core, Spring AOP, Spring MVC, Spring Batch, Spring 
      Security and Spring Boot. 
      Hibernate ORM mapping. 
    </li>
    <li >
      Implemented Spring Security, JWT and Spring transactions in the applications. 
    </li>
    <li >
      Wrote JUnit test cases for application units and performed validation. Developed automation test 
      scripts using Selenium WebDriver and Java.
    </li>

    <li >
      Experienced with RDBMS concepts and writing SQL Queries, Functions, Triggers, Stored Procedures on 
      technologies such as MS SQL server, MYSQL, Oracle DB.
    </li>
    <li >
      Experienced working with waterfall & agile Scrum methodology and  Test Driven Development to implement 
      application business logic, work flow process and integration of application modules.
    </li>
    <li >
      Authorized to work in US for any employer.
    </li>
  </ul>
  </div>
</div>