<div>
  <div class="row">
      <div class="col-md-6" style="padding-top: 20%; padding-left: 3%;">
            <div class="container" >
                  <p>I am a passionate Full Stack Web Developer who spends most of his 
                    time building applications, keeping myself up-to-date with the latest 
                    cutting edge web technologies. I embrace a mindset of continuous learning 
                    by finding new ways to challenge myself every day! And also self-motivated 
                    to proactively identify and solve problems.</p>
                <br>
                  <a href="/src/assets/" download="Resume.docx">
                    <button class="btn-success" style="text-align: center;">Download Resume</button></a>
            </div>
      </div>
      <div class="col-md-6">
        *
      </div>
  </div>
</div>