<div>
  <div class="row">
      <div class="col-md-6" style="padding-top: 20%; padding-left: 3%;">
            <div class="container" >
                  <h2>I am a </h2>
                <h2> software developer</h2>
                <br>
                  <a href="/src/assets/" download="Resume.docx">
                    <button class="btn-success" style="text-align: center;">Download Resume</button></a>
            </div>
      </div>
      <div class="col-md-6">
        *
      </div>
  </div>
</div>